<%= link_to("Back to List", tasks_path, class: 'back-link') %>

<div class="tasks show">
  <h2>Show task</h2>

  <div class="actions">
    <%= link_to('Edit', edit_task_path(@task)) %>
    <%= link_to('Delete', delete_task_path(@task)) %>
  </div>

  <table summary="Book detail view">
    <tr>
      <th>Title</th>
      <td><%= @task.title %></td>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= @task.position %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @task.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @task.updated_at %></td>
    </tr>
  </table>

</div>
